{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Local JavaScript -->
        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>

    <!-- Some Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

	<title>Movies</title>

</head>

<body>
	<div class="wrapper">

		<header class="header">
			<figure class="logo"><a href="/"><img src="{% static 'img/logo.png' %}" alt="Logo"></a></figure>
			<nav class="menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/">Genres</a>
						<ul>
                            <li><a href="{% url 'movies_main:movie_genre' 'Action' %}">Action</a></li>
                            <li><a href="{% url 'movies_main:movie_genre' 'Romance' %}">Romance</a></li>
                            <li><a href="{% url 'movies_main:movie_genre' 'Drama' %}">Drama</a></li>
                            <li><a href="{% url 'movies_main:movie_genre' 'History' %}">History</a></li>
                            <li><a href="{% url 'movies_main:movie_genre' 'Comedy' %}">Comedy</a></li>
						</ul>
					</li>

                    {% if user.is_authenticated %}
                        <li style="align: right;"><a href="{% url 'profile' %}">Profile</a></li>
                    {% endif %}

				</ul>

			</nav>

            <form class="search" method="GET" >
				<input type="text" name="query" class="searchfield" placeholder="Search..." style="text-align: center;">
				 <input type="submit" class="searchsubmit" value="">
			</form>




			<div class="toggle"><img src="{% static 'img/menu.svg' %}"></div>
		</header>
		<!-- Swiper -->
		<div class="homeslider">
			<div class="swiper-container">
                <div class="swiper-wrapper">
					{% for movie in movies_slider %}
						<div class="swiper-slide">
							{% if movie.poster %}
								<img src="{{ movie.poster.url }}">
							{% endif %}
							<div class="caption">
								<div class="captioninside">
									<h3>{{ movie.title }}</h3>
									<p>{{ movie.description|truncatechars:200 }}</p>
									<a href="{% url 'movies_main:movie_detail' movie.slug %}" class="playbutton">Play</a>
								</div>
						</div>
					{% endfor %}
                </div>
            </div>
        </div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
			</div>
		</div>
        {% block content %}

        {% endblock content %}

		<footer class="footer">
			<div class="copyright"><p>Copyleft 2021 GPL3</p></div>
			<div class="footermenu">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="terms.html">Terms and conditions</a></li>
				</ul>
			</div>
			<div class="tags">
				<ul>
					<li>Watch Free Movies Trailers</li>
					<li>Movie Trailers</li>
					<li>English Subtitled Movies Trailers</li>
					<li>Latest Movies Trailers</li>
					<li>New Movies Trailers</li>
	
				</ul>
			</div>
	
		</footer>
	





    <!-- Swiper JS -->
        <script src="{% static 'js/swiper.min.js' %}"></script>

    <!-- Optional Bootstrap JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Initialize Swiper -->
		<script>
			$(document).ready(function () {


				var swiper = new Swiper('.homeslider > .swiper-container', {
					pagination: '.swiper-pagination',
					paginationClickable: true,
					preventClicks: false,
					preventClicksPropagation: false,
					effect: 'fade',
					breakpoints: {
						320: {
							height: 200
						},

						480: {
							height: 300
						},

						768: {
							height: 400
						},
						1024: {
							height: 500
						}
					}
				});

				var recentswiper = new Swiper('.recentslider > .swiper-container', {
					nextButton: '.recent-next',
					prevButton: '.recent-prev',
					slidesPerView: 8,
					paginationClickable: true,
					preventClicks: false,
					preventClicksPropagation: false,
					spaceBetween: 10,
					breakpoints: {
						320: {
							slidesPerView: 3,
							spaceBetween: 5
						},

						480: {
							slidesPerView: 3,
							spaceBetween: 5
						},

						768: {
							slidesPerView: 5,
							spaceBetween: 5
						},
						1024: {
							slidesPerView: 6,
							spaceBetween: 10
						}
					}
				});

				var mostswiper = new Swiper('.mostslider > .swiper-container', {
					nextButton: '.most-next',
					prevButton: '.most-prev',
					slidesPerView: 8,
					paginationClickable: true,
					preventClicks: false,
					preventClicksPropagation: false,
					spaceBetween: 10,
					breakpoints: {
						320: {
							slidesPerView: 3,
							spaceBetween: 5
						},

						480: {
							slidesPerView: 3,
							spaceBetween: 5
						},

						768: {
							slidesPerView: 5,
							spaceBetween: 5
						},
						1024: {
							slidesPerView: 6,
							spaceBetween: 10
						}
					}
				});

				var topswiper = new Swiper('.topslider > .swiper-container', {
					nextButton: '.top-next',
					prevButton: '.top-prev',
					slidesPerView: 8,
					paginationClickable: true,
					preventClicks: false,
					preventClicksPropagation: false,
					spaceBetween: 10,
					breakpoints: {
						320: {
							slidesPerView: 3,
							spaceBetween: 5
						},

						480: {
							slidesPerView: 3,
							spaceBetween: 5
						},

						768: {
							slidesPerView: 5,
							spaceBetween: 5
						},
						1024: {
							slidesPerView: 6,
							spaceBetween: 10
						}
					}
				});

			});


		</script>

	</div>
</body>

</html>
