{% extends 'movies/index.html'%}
{% block content%}
<main class="content">
    <div class="single">
        <section class="trailer">
            <div class="container">
                <div class="content-section" style="color:white;">
                    <h2> You have been logged out</h2>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            <a  href="{% url 'login'%}">Log In Again</a>
                        </small>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock%}
